<div class="month-planner">
    <div class="row mx-2 my-4">
        <h3 class="month-planner-title">{{ date | date : 'MMMM' : 'pt-BR' }} de {{ date | date : 'YYYY' }}</h3>
        <hr>
    </div>
    <div class="row">
        <div class="d-flex">
            <div class="col-6 p-2">
                <app-card [cardData]="data" [cardTitle]="'Maiores projetos'"></app-card>
            </div>
            <div class="col-6 p-2">
                <app-card [cardData]="teste" [cardTitle]="'Maiores eventos'"></app-card>
            </div>
        </div>
        <div class="d-flex">
            <div class="col-6 p-2">
                <app-card [cardData]="teste1" [cardTitle]="'Coisas que devem acontecer este mês'"></app-card>
            </div>
            <div class="col-6 p-2">
                <app-card [cardData]="data" [cardTitle]="'Os principais prazos deste mês incluem'"></app-card>
            </div>
        </div>
        <div class="d-flex">
            <div class="col-6 p-2">
                <app-card [cardData]="data"
                    [cardTitle]="'A melhor maneira de garantir que eu performe este mês é'"></app-card>
            </div>
            <div class="col-6 p-2">
                <app-card [cardData]="teste1"
                    [cardTitle]="'Eu sentiria que estou vivendo minha melhor vida se este mês'"></app-card>
            </div>
        </div>
    </div>
    <div class="row px-3 py-4">
        <app-calendar-months></app-calendar-months>
    </div>
</div>