@use "../../../../assets/styles/abstracts/variables.scss" as *;

.nav-tabs {
    margin-bottom: 1rem;
  }
  
  .nav-tabs .nav-item {
    cursor: pointer;
  }
  
  .tab-content .tab-pane {
    display: none;
  }
  
  .tab-content .tab-pane.show {
    display: block;
  }
  
  .nav-tabs .nav-link.selecionada {
    background-color: #8A70D6;
    color: $white;
  }

  
.week-planner {

    &-title {
        text-align: end;
        font-family: 'Rajdhani', sans-serif;
        font-weight: 500;
        font-size: 2em;
        color: $violet;
    }
}

svg {
    width: 25px;
    height: 25px;    
    margin: 0.5em;
}

.period {
    align-items: center;
    font-size: 24px;
    display: flex;
    margin: 0;
}