<div>
    <div class="row mx-2 my-4">
        <h3 class="week-planner-title"> {{ currentMonth | date: 'LLLL'}} de {{ currentMonth | date: 'YYYY'}}</h3>
        <hr>
    </div>
    <div>
        {{ currentWeek }}
    </div>
    <div class="card card-body">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item" *ngFor="let aba of abas">
                <a class="nav-link" [class.active]="aba.ativa" [class.selecionada]="aba.selecionada"
                    (click)="selecionarAba(aba)">
                    {{ aba.data | date : 'ccc dd/MM' }}
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <ng-container *ngFor="let aba of abas">
                <ng-container *ngIf="aba.ativa">
                    <div class="tab-pane fade" [class.show]="aba.ativa">
                    <div class="d-flex">
                      <div class="card card-body m-2" *ngFor="let day of dias; let index = index">
                        <div class="d-flex align-items-center" [ngClass]="day.periodo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-moon" viewBox="0 0 16 16">
                                <path *ngFor="let path of day.svg" [attr.d]="path.path" [attr.fill]="path.color"/>
                            </svg>
                          <h3 class="period">{{ day.periodo }}</h3>
                        </div>
                        <div>
                          {{ day.tarefas }} {{ aba.data.getDate() }}
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
        </div>
    </div>

</div>