<div class="week-planner">
    <div class="row mb-5">
        <div class="d-flex">
            <div class="col-4 p-2">
                <app-card [cardData]="data" [cardTitle]="'Principais projetos'"></app-card>
            </div>
            <div class="col-4 p-2">
                <app-card [cardData]="teste" [cardTitle]="'Prazos da semana'"></app-card>
            </div>
            <div class="col-4 p-2">
                <app-card [cardData]="teste1" [cardTitle]="'Eventos'"></app-card>
            </div>
        </div>
        <div class="d-flex" *ngIf="false">
            <div class="col-4 p-2">
                <app-card [cardData]="data" [cardTitle]="'Maneiras de realizar minhas metas'"></app-card>
            </div>
            <div class="col-4 p-2">
                <app-card [cardData]="data" [cardTitle]="'O que precisa acontecer'"></app-card>
            </div>
            <div class="col-4 p-2">
                <app-card [cardData]="teste1" [cardTitle]="'A evidência que minha semana foi um sucesso é'"></app-card>
            </div>
        </div>
    </div>
    <div>
        <app-calendar-days></app-calendar-days>
    </div>
</div>