@use "../../../../assets/styles/abstracts/variables.scss" as *;

:host {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    min-height: 100vh;
}

.app-sidebar {
    width: 250px;
    height: 100%;
    overflow: hidden;
}

.app-main {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
}

.app-content {
    padding: 44px 60px 85px 54px;
    background-color: $violet-6;
    flex: 0 1 100%;
    float: left;
    order: 1;
    width: 1px;
    overflow: visible;
    @media (max-width: 1440px) {
        padding-right: 54px;
    }
    > *:not(router-outlet) {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}

.app-footer {
    z-index: 1;
}