<div class="calendar-container">
    <div class="row text-center card card-body pb-2 p-0">
        <div class="col-md-4 w-100 my-2 d-flex justify-content-center">
            <div class="col-1 d-flex justify-content-center align-items-center my-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-left" viewBox="0 0 16 16" (click)="alterarMes(-1)">
                    <path fill-rule="evenodd"
                        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                </svg>
            </div>
            <div class="col-2 m-1">
                <div class="d-flex justify-content-end" *ngIf="mostrarBotaoHoje">
                    <button class="btn-today" (click)="voltarParaHoje()">Hoje</button>
                </div>
            </div>
            <div class="col-3 m-1 d-flex justify-content-center">
                <select class="form-select form-select-lg w-100" aria-label=".form-select-lg example"
                    (change)="atualizarMes($event)">
                    <option *ngFor="let mes of meses" [value]="mes.valor"
                        [selected]="mes.valor === dataAtual.getMonth()">{{ mes.nome }}</option>
                </select>
            </div>
            <div class="col-3 m-1 d-flex justify-content-center">
                <select class="form-select form-select-lg w-100" aria-label=".form-select-lg example"
                    (change)="atualizarAno($event)">
                    <option *ngFor="let ano of anos" [value]="ano" [selected]="ano === dataAtual.getFullYear()">{{
                        ano
                        }}</option>
                </select>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center my-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-right" viewBox="0 0 16 16" (click)="alterarMes(+1)">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </div>
        </div>
        <hr class="m-0">
        <div class="calendario-dias w-100">
            <ng-container *ngFor="let dia of diasCalendarioCompleto; let i = index">
                <div class="week-day d-flex justify-content-center align-items-center" *ngIf="i < 7">
                    <strong>{{ dia | date: 'EEEE' }}</strong>
                </div>
            </ng-container>

            <div class="content-tr" *ngFor="let semana of semanasCalendario; let i = index">
                <div class="w-100 content-body" *ngFor="let dia of semana; let indexDay = index"
                    [class.calendario-quebrar-linha]="dia.isFirstDayOfWeek">
                    <div class="current-month"
                        [class.selected]="selectedItem?.semana === i && selectedItem?.dia === indexDay"
                        *ngIf="dataAtual.getMonth() === dia.getMonth()"
                        (click)="abrirCollapse(i, indexDay); selecionarDia(i, indexDay); fecharCollapse(i, indexDay)">
                        {{ dia | date : 'dd' }}
                    </div>
                    <div class="month-disabled" *ngIf="dataAtual.getMonth() !== dia.getMonth()">
                        {{ dia | date : 'dd' }}
                    </div>
                </div>
                <div class="collapse table-collapse w-100" [id]="'collapse-' + i" [class.show]="mostrarCollapse[i]">
                    <div class="card card-body w-100">
                        <div class="d-flex justify-content-end ">
                            <button mat-raised-button class="w-25">Nova tarefa</button>
                        </div>
                        <div>
                            Algum conteúdo aqui para o dia {{selectedDate | date: 'shortDate'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>