.app-sidebar {
    background: #2d2d2d;
    box-shadow: 4px 2px 4px 0px rgba(0, 0, 0, 0.25);
    float: left;
    height: 100%;
    min-height: calc(100vh - 106px);
    position: relative;
    transition: width .1s;
    &.menu {
        width: 76px;
    }

    :host {
        ::ng-deep {
            .mat-list {
                &-text {
                    padding-left: 0 !important;
                }
            }
        }
    }

    .sidebar {
        &-collapse {
            &-container {
                background-color: teal;
                border-radius: 50%;
                cursor: pointer;
                height: 32px;
                margin: 0em -1em 0em 0em;
                position: absolute;
                right: 0em;
                text-align: center;
                top: 2.5rem;
                width: 32px;
                z-index: 3;
            }
            &-icon {
                color: #ffffff;
                font-size: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &-menu {
            &-container {
                position: relative;
                text-align: center;
                padding-top: 6em;
            }
            &-item {
                width: 100%;
                &:hover {
                    box-sizing: border-box;
                    width: 100%;

                    span {
                        color: teal !important;
                    }
                    .mat-icon:not(.colored) {
                        color: teal !important;
                        ::ng-deep {
                            path {
                                fill: teal !important;
                            }
                        }
                    }
                }
                &-text {
                    color: #ffffff;
                    font-size: 1em !important;
                    font-style: normal !important;
                    font-weight: 500 !important;
                    line-height: 1;
                    text-align: left;
                }
                &-icon {
                    color: #ffffff;
                    font-style: normal;
                    line-height: 1;
                    vertical-align: middle;
                    font-size: 24px !important;
                    padding: 0.5rem;
                    display: flex;
                    align-items: center;
                    &:not(.colored) {
                        ::ng-deep {
                            path {
                                fill: white !important;
                            }
                        }
                    }
                }
            }
        }
        &-content {
            opacity: 0;
            display: none;
        }
    }
    &:not(.expandable) {
        .sidebar-menu-container {
            padding-top: 1.75em;
        }
    }

    &.expanded {
        width: 332px;
        min-width: 255px;
        &.menu {
            width: 255px;
        }
        .sidebar-content {
            opacity: 1;
            display: inherit;
        }
        .submenu.expanded {
            transform: scaleY(1);
            display: block;
        }
    }

    .is-active {
        border-right: 0.25rem solid #ffffff;
        box-sizing: border-box;
        span {
            color: teal !important;
        }
        mat-icon {
            color: teal !important;
            ::ng-deep {
                path {
                    fill: teal !important;
                }
            }
        }
        ~ .submenu {
            border-right: 0.25rem solid #ffffff;
            .is-active {
                border-right: none;
            }
        }
    }


    &.light {
        background: #ffffff;
        .sidebar-menu-item-text,
        .sidebar-menu-item-icon {
            color: black;
        }

        .is-active {
            border-color: teal;
        }
    }
    &.lilac {
        background: #e9e3ff;
        .sidebar-menu-item-text,
        .sidebar-menu-item-icon {
            color: black;
        }

        .is-active {
            border-color: teal;
        }
    }
    &.transparent {
        background-color: rgba(black, 0.8);
    }
}

:host {
    &[alignment="right"] {
        .app-sidebar {
            box-shadow: -4px 2px 4px 0 rgb(0 0 0 / 25%);
            .sidebar {
                &-collapse {
                    &-container {
                        left: -1em;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

.fixed-tooltip {
    padding: 6px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 2.5rem;
    left: calc(100% + 30px);
    background: teal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    white-space: nowrap;
    font-weight: 600;
    font-size: 12px;
}

.submenu {
	overflow-y: hidden;
	display: none;
	transition: transform 300ms ease;
	transform: scaleY(0);
	transform-origin: top;
	padding-left: 30px;
}