<mat-sidenav-container class="app-sidebar" autosize>
    <mat-sidenav #sidenav class="example-sidenav" [mode]="'side'" opened="true">
        <div class="sidebar-header d-flex justify-content-center align-items-center">
            <div *ngIf="!isExpanded">Sociale</div>
            <div *ngIf="isExpanded">SA</div>
        </div>
        <div (click)="toggleCollapse()">
            <a mat-mini-fab class="sidebar-collapse-container">
                <mat-icon inline="true" class="sidebar-collapse-icon">
                    {{ collapseIcon }}
                </mat-icon>
            </a>
        </div>
        <div class="sidebar-menu-container">
            <mat-nav-list class="sidebar-list">
                <div *ngFor="let menuItem of links">
                    <a mat-nav-list class="sidebar-menu-item" (click)="navigateTo(menuItem)" [routerLinkActive]="'is-active'">
                        <span mat-line *ngIf="!isExpanded" class="sidebar-menu-item-text">
                            {{ menuItem.name }}
                        </span>
                        <mat-icon mat-list-icon inline="true" class="sidebar-menu-item-icon">
                            {{ menuItem.icon || '' }}
                        </mat-icon>
                    </a>
                    <mat-divider></mat-divider>
                </div>
            </mat-nav-list>
            <div class="sidebar-content text-left" *ngIf="!links">
                <ng-content></ng-content>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>