<div class="content-skills">
    <div class="content-skills-title">
        <h3>Habilidades e Ferramentas</h3>
    </div>
    <div class="content-skills-text py-3">
        <p>
            Algumas habilidades, ferramentas e tecnologias que eu uso para desenvolver os projetos:
        </p>
    </div>
    <div class="mx-0 my-4">
        <div class="row mx-0 p-3 justify-content-center align-items-center">
            <div class="col-2">
                <fa-icon [icon]="['fab', 'angular']" [size]="'3x'"></fa-icon>
                <p>Angular</p>
            </div>
            <div class="col-2">
                <fa-icon [icon]="faHtml5" [size]="'3x'"></fa-icon>
                <p>HTML5</p>
            </div>
            <div class="col-2">
                <fa-icon [icon]="faCss3Alt" [size]="'3x'"></fa-icon>
                <p>CSS3</p>
            </div>
            <div class="col-2">
                <fa-icon [icon]="faJs" [size]="'3x'"></fa-icon>
                <p>Javascript</p>
            </div>
            <div class="col-2">
                <img class="content-skills-img" src="../../../../assets/icon/typescript.svg">
                <p>Typescript</p>
            </div>
            <div class="col-2">
                <fa-icon [icon]="faSass" [size]="'3x'"></fa-icon>
                <p>Sass</p>
            </div>
        </div>
        <div class="row mx-0 p-3 justify-content-center align-items-center">
            <div class="col-2">
                <fa-icon [icon]="['fab', 'git-alt']" [size]="'3x'"></fa-icon>
                <p>Git</p>
            </div>
            <div class="col-2">
                <fa-icon [icon]="['fab', 'github']" [size]="'3x'"></fa-icon>
                <p>Github</p>
            </div>
            <div class="col-2">
                <span class="material-icons content-skills-img">api</span>
                <p>RESTfull APIs</p>
            </div>
            <div class="col-2">
                <img class="content-skills-img" src="../../../../assets/icon/vscode-white.svg">
                <p>VS Code</p>
            </div>
            <div class="col-2">
                <fa-icon [icon]="['fab', 'figma']" [size]="'3x'"></fa-icon>
                <p>Figma</p>
            </div>
        </div>
    </div>
</div>
