
@use "../../../../assets/styles/abstracts/variables.scss" as *;

.content-skills {
    padding: 1.5em 0;
    height: 50vh;
    height: calc(100vh - 136px);
    background-color: $violet-4;

    &-block {
        padding: 0 3%;
    }

    &-title {
        padding: 10px 0;
        text-align: center;
        color: $white;
    }

    &-text {
        text-align: justify;
        color: $white;
    }

    &-img {
        font-size: 2.8em;
        color: $white;
    }

    img {
        width: 1.1em;
    }
}

.col-2 {
    text-align: center;
    width: 10%;
}

fa-icon, p {
    color: $white;
}

ul {
    width: 33%;

    li {
        list-style-type: none;
        line-height: 2em;
        color: $white;
    }
}