
// COLORS
$white: #fff !default;
$gray-100: #f0f0f0 !default;
$gray-200: #dedede !default;
$gray-300: #aaaaaa !default;
$gray-500: #5f5f5f !default;
$gray-900: #2d2d2d !default;

$grays: (
    100: $gray-100,
    200: $gray-200,
    300: $gray-300,
    500: $gray-500,
    900: $gray-900,
) !default;

/* Color Theme Swatches in Hex */
$violet: #8A70D6 !default;
$violet-2: #997DF0;
$violet-3: #7962BD;
$violet-4: #ccaaff;
$violet-5: #ECE1F3;
$violet-6: #F3F3FF;

$monocromatic-2: #8545A3;
$monocromatic-3: #5C0D70;

$green: #06be00;
$red: #ff0000;
$orange: #ff8800;
$yellow: #ebe000;
$blue: #0088ff;
$dark: $gray-900;

$colors: (
    violet: $violet,
    green: $green,
    red: $red,
    orange: $orange,
    yellow: $yellow,
    blue: $blue,
);

$green-100: #e5f2ec !default;
$green-200: #d2ebdf !default;
$green-500: $green !default;
$green-900: #027d42 !default;

$red-400: #eb5757 !default;
$red-500: $red !default;

// Theme colors variables
$primary: $violet !default;
$secondary: $gray-300 !default;
$success: $green !default;
$warning: $orange !default;
$info: $blue !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $dark !default;