.fixed-top {
    padding: 0px;
}

.home-content {
    margin: 0;
    padding-top: 3.5rem;
}

.carousel {
    height: 500px;
}

.carousel-inner {
    height: 500px;
}

.carousel-item {
    height: 500px;
}