<div class="wrapper">
    <div class="d-flex flex-column h-100 justify-content-center align-items-center">
        <app-header class="navbar fixed-top"></app-header>

        <div class="container">
            <div class="row h-75">
                <app-banner></app-banner>
            </div>
            <div class="row h-25 social">
                <div class="col d-flex justify-content-center">
                    <a href="https://www.linkedin.com/in/simone-auler/" target="_blank">Linkedin</a>
                </div>
                <div class="col d-flex justify-content-center">
                    <a href="https://github.com/SyAuler" target="_blank">Github</a>
                </div>
                <div class="col d-flex justify-content-center">
                    <a href="https://api.whatsapp.com/send/?phone=5545999771075&text=Ol%C3%A1+Simone&type=phone_number&app_absent=0"
                        target="_blank">Whatsapp</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <app-about-me></app-about-me>
        <app-carousel></app-carousel>
    </div>

    <app-footer theme="dark"></app-footer>
</div>