@use "../../../src/assets/styles/abstracts/variables.scss" as *;

.fixed-top {
    padding: 0px;
}

.container-sm,
.container {
    margin: 0;
    padding: 4.5em 0 0;
    height: 95vh;
    max-width: 100%;
    overflow: hidden;

    .row {
        position: relative;
    }
}

.content {
    padding-bottom: 4em;
}

.social {
    background-color: $violet-5;
    z-index: 10;
}
