<div class="d-flex h-100 justify-content-center align-items-center">
    <div class="dashboard-presentation">
        <h2>Explore minha jornada através da programação</h2>
        <div>
            <p>Seja bem-vindo(a) ao meu dashboard de projetos! Aqui, você encontrará uma coleção diversificada de criações,
                desde projetos concluídos que me permitiram aprender e crescer, até novas empreitadas que estou
                desenvolvendo com entusiasmo.</p>
            <p>Em cada projeto, busco enfrentar desafios únicos, expandir meu conhecimento e contribuir para soluções
                significativas. Alguns deles foram concebidos como experimentos para explorar novas funcionalidades e
                tecnologias. Outros foram criados com o propósito de resolver problemas do mundo real e aprimorar o fluxo de
                trabalho de diferentes áreas.</p>
            <p>Sinta-se à vontade para navegar pela lista de projetos abaixo e mergulhar nos detalhes de cada um deles. Se
                você tiver alguma dúvida, feedback ou apenas quiser bater um papo sobre desenvolvimento de software, não
                hesite em entrar em contato.</p>
            <p>Agradeço pela visita e espero que você aprecie a minha jornada pela incrível arte da programação!</p>
        </div>        
    </div>
</div>