@use "./assets/styles/abstracts/variables" as *;

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-theme-loaded-marker {
    display: none;
}

:root { 
    --primary: $primary;
    --success: $success;
    --danger: $danger;
}

html {
    height: 100%;
}
