@use "./assets/styles/abstracts/variables" as *;

@import "~bootstrap/dist/css/bootstrap.css";

:root { 
    --primary: $primary;
    --success: $success;
    --danger: $danger;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding-top: 3.5rem;
}