@use "../../../src/assets/styles/abstracts/variables.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

.planner {

    &-title {
        text-align: end;
        font-family: 'Rajdhani', sans-serif;
        font-weight: 500;
        font-size: 2em;
        color: $violet;
    }

    &-subtitle {
        padding: 0;
        font-family: 'Rajdhani', sans-serif;
        font-weight: 500;
        font-size: 1.5em;
        color: $violet;
    }

    &-badge {
        flex-wrap: wrap;
    }

    &-graphics {
        min-height: 20em;
    }

    &-goals {
        min-height: 10em;
    }

    &-notes {
        min-height: 10em;
    }

    &-checkbox {
        margin: 0.5em;
    }
}

.badge {
    height: 3em;
    background-color: $violet !important;
    margin: 0.5em;
}

ul {
    padding: 0;
    li {
        list-style: none;
    }
}