<div>
    <div class="row">
        <h3>Planner</h3>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row h-100">
                Tarefas importantes do dia
            </div>
            <div class="row h-100">
                Tabela com as tarefas
            </div>
        </div>
        <div class="col-4">
            <div class="row h-100">
                Calendario
            </div>
            <div class="row h-100">
                Tarefas em andamento
            </div>
        </div>
    </div>
</div>