<div class="planner">
    <div class="row mx-2 my-4">
        <h3 class="planner-title">Planner {{ date | date: 'YYYY' }}</h3>
        <hr>
    </div>
    <div class="row mx-2 my-4 planner-graphics d-flex align-items-center">
        <div class="col-6 d-flex justify-content-center">
            <div class="row h-100">
                <app-donut-chart [dataChart]="donutChart"></app-donut-chart>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <div class="row h-100">
                <app-bar-chart [dataChart]="barChart"></app-bar-chart>
            </div>
        </div>
    </div>
    <div class="row h-100 mx-2 my-4 planner-goals">
        <h5>Objetivos</h5>
        <div>

        </div>
    </div>
    <div class="row mx-2 my-4 h-100">
        <div>
            <h5>Tabela</h5>
        </div>
        <div>
            <app-table [data]="plannerData" [columnsData]="columnsData" 
            [pageSize]="pageSize" [page]="page" [count]="count" (requestParamsOutput)="loadData($event)">
            </app-table>
        </div>
    </div>
    <div class="row h-100 mx-2 my-4 planner-notes">
        <div>
            <h5>Anotações</h5>
        </div>
        <div>
            sass
        </div>
    </div>
</div>