<div class="animation">
    <div class="ternary-system">
        <div class="sun photo"></div>
        <div class="sun primary"></div>
        <div class="sun secondary"></div>
        <div class="sun ternary">
            <div class="text">
                <h1 class="title"><strong>Desenvolvedora</strong><em>Frontend</em></h1>
                <p class="subtitle">Simone Auler</p>
            </div>
        </div>
        <div class="sun quaternary "></div>
        <div class="sun quinternary "></div>
    </div>
    <div class="sand d-flex">
        <div class="col-4 text-banner">
            <span>{{ textHtml }}</span>
        </div>
        <div class="col-4 text-banner">
            <span>{{ textCSS }}</span>
        </div>
        <div class="col-4 text-banner">
            <span>{{ textTypescript }}</span>
        </div>
    </div>

    <div class="dev">
        Portfólio em desenvolvimento...
    </div>
    <div class="arrow">
        <svg width="270.11" height="505.9" overflow="visible">
            <g class="item-to bounce-1">
                <path class="geo-arrow draw-in" d="M135.06 102.564L267.995 235.5 135.06 368.434 2.125 235.499z" />
            </g>
            <circle class="geo-arrow item-to bounce-2" cx="194.65" cy="69.54" r="7.96" />
            <circle class="geo-arrow draw-in" cx="194.65" cy="39.5" r="7.96" />
            <circle class="geo-arrow item-to bounce-3" cx="194.65" cy="9.46" r="7.96" />
            <g class="geo-arrow item-to bounce-2">
                <path class="st0 draw-in" d="M181.21 430.5l13.27 27 13.27-27zM194.48 455.5v-365" />
            </g>
        </svg>
    </div>
</div>