@use "../../../../../src/assets/styles/abstracts/variables.scss" as *;

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

.animation {
    overflow: hidden;
}

.sand {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9vw;
    min-height: 8rem;
    background: $primary;
}

.ternary-system {
    position: absolute;
    bottom:0;
    left: 82vw;
    transform: translateX(-100%);
}

.sun {
    position: relative;
    border-radius: 50%;
    background: $violet-4;
}

.sun.photo {
    position: absolute;
    top: 0.5vw;
    left: 60vh;
    width: 15vw;
    max-width: 15rem;
    height: 15vw;
    max-height: 15rem;
}

.sun.primary {
    position: absolute;
    top: 15vw;
    left: 6vw;
    width: 1rem;
    height: 1rem;
}

.sun.secondary {
    position: absolute;
    transform: translateY(40%);
    left: 8vw;
    width: 16vw;
    max-width: 6rem;
    height: 16vw;
    max-height: 6rem;
}

.sun.ternary {
    margin-top: 4px;
    right: 0;
    transform: translateX(10.8rem);
    width: 50vw;
    max-width: 600px;
    height: 50vw;
    max-height: 600px;
}

.sun.quaternary {
    position: absolute;
    top: 26vw;
    left: 4vw;
    width: 4rem;
    height: 4rem;
}

.sun.quinternary {
    position: absolute;
    top: 20vw;
    left: 8vw;
    width: 2rem;
    height: 2rem;
}

.text {
    position: absolute;
    width: auto;
    right: 3.5vw;
    bottom: 290px;
    transform: translateY(50%);
    font-size: 2rem;
}

.text-banner {
    color: #b393d3;
    text-align: justify;
    padding: 0.25em;
    font-size: larger;
}

.title {
    text-align: center;
    font-size: 1em;
    font-family: 'Oswald';
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.3em;
    margin: 0;
    color: $white;
}

.title strong {
    display: block;
    font-weight: 700;
    font-size: 2em;
    line-height: 1em;
}

.title em {
    font-style: normal;
    font-weight: 400;
    font-size: 1.899em;
    line-height: 1em;
    letter-spacing: .29em;
    margin-left: 0.25em;
}

.subtitle {
    position: absolute;
    left: 50%;
    transform: translateX(3.2em);
    font-family: 'Oswald';
    font-size: 0.6em;
    color: $white;
    margin: 0 17px;
    padding: 0;
    text-align: right;
}

.dev {
    position: absolute;    
    right: 45em;
    bottom: 35vh;
    font-size: 20px;
}

.arrow {
    z-index: 1000;
    opacity: 0.5;
    position: absolute;
    left: -5em;
}

.geo-arrow {
    fill: none;
    stroke: $primary;
    stroke-width: 2;
    stroke-miterlimit: 10
}

.draw-in {
    stroke-dasharray: 1000;
    stroke-dashoffset: 10;
    animation: draw 15s ease-in-out alternate infinite;
}

@keyframes draw {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.item-to {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: ease;
}

.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}

.bounce-3 {
    animation-name: bounce-3;
    animation-timing-function: ease;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounce-2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounce-3 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}