@use "../../../../../src/assets/styles/abstracts/variables.scss" as *;

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

.animation {
    overflow: hidden;
}

.ternary-system {
    position: absolute;
    bottom: 0;
    left: 75vw;
    transform: translateX(-100%);
}

.bubble {
    position: relative;
    border-radius: 50%;
    background: $violet-4;
}

.bubble.photo {
    position: absolute;
    top: 0.5vw;
    left: 60vh;
    width: 15vw;
    max-width: 15rem;
    height: 15vw;
    max-height: 15rem;
}

.bubble.primary {
    position: absolute;
    top: 15vw;
    left: 6vw;
    width: 1rem;
    height: 1rem;
}

.bubble.secondary {
    position: absolute;
    transform: translateY(40%);
    left: 8vw;
    width: 16vw;
    max-width: 6rem;
    height: 16vw;
    max-height: 6rem;
}

.bubble.ternary {
    margin-top: 4px;
    transform: translateX(10.8rem);
    width: 50vw;
    max-width: 600px;
    height: 50vw;
    max-height: 600px;
    justify-content: center;
    display: flex;
}

.bubble.quaternary {
    position: absolute;
    top: 23vw;
    left: 4vw;
    width: 4rem;
    height: 4rem;
}

.bubble.quinternary {
    position: absolute;
    top: 20vw;
    left: 8vw;
    width: 2rem;
    height: 2rem;
}

.text {
    position: absolute;
    width: auto;
    bottom: 290px;
    transform: translateY(50%);
    font-size: 2rem;
}

.title {
    text-align: center;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.3em;
    margin: 0;
    color: $white;

    strong {
        display: block;
        font-weight: 700;
        font-size: 2em;
        line-height: 1em;
    }

    em {
        font-style: normal;
        font-weight: 400;
        font-size: 1.899em;
        line-height: 1em;
        letter-spacing: .29em;
        margin-left: 0.25em;
    }
}

.subtitle {
    position: absolute;
    left: 58%;
    transform: translateX(3.2em);
    font-family: 'Oswald';
    font-size: 0.7em;
    color: $white;
}

.developer {
    position: absolute;
    width: auto;
    right: 5em;
    bottom: 140px;
    transform: translateY(50%);
    font-size: 1em;
    font-family: 'Oswald';
    color: $white;
}

.dev {
    position: absolute;
    right: 62vw;
    bottom: 35vh;
    font-size: 16px;
}

.arrow {
    z-index: 1000;
    opacity: 0.5;
    position: absolute;
    left: -5em;
    z-index: -1;
}

.geo-arrow {
    fill: none;
    stroke: $primary;
    stroke-width: 2;
    stroke-miterlimit: 10
}

.draw-in {
    stroke-dasharray: 1000;
    stroke-dashoffset: 10;
    animation: draw 15s ease-in-out alternate infinite;
}

@keyframes draw {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.item-to {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: ease;
}

.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}

.bounce-3 {
    animation-name: bounce-3;
    animation-timing-function: ease;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounce-2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounce-3 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}

.banner {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 9rem;
    min-height: 8rem;
    background: $primary;
    color: $violet-4;
    text-align: justify;
    padding: 0.25em;
    font-size: larger;

    &-text {
        @for $i from 0 through 30 {
            &-#{$i} {
                position: absolute;

                @if $i ==0 {
                    left: 32%;
                    top: 1.5em;
                }

                @else if $i ==1 {
                    left: 60%;
                    top: -0.25em;
                }

                @else if $i ==2 {
                    left: 18%;
                    top: 4.75em;
                }

                @else if $i ==3 {
                    left: 48%;
                    top: 5.75em;
                }

                @else if $i ==4 {
                    left: 0.5%;
                    top: 4.5em;
                }

                @else if $i ==5 {
                    left: 70%;
                    top: 2em;
                }

                @else if $i ==6 {
                    left: 50%;
                    top: -0.5em;
                }

                @else if $i ==7 {
                    left: 15%;
                    top: 1em;
                }

                @else if $i ==8 {
                    left: 61%;
                    top: 5.5em;
                }

                @else if $i ==9 {
                    left: 13%;
                    top: 3.25em;
                }

                @else if $i ==10 {
                    left: 22%;
                    top: 6em;
                }

                @else if $i ==11 {
                    left: 27%;
                    top: 0em;
                }

                @else if $i ==12 {
                    left: 90%;
                    top: 3em;
                    white-space: nowrap;
                }

                @else if $i ==13 {
                    left: 4%;
                    top: 5.75em;
                }

                @else if $i ==14 {
                    left: 10%;
                    top: -0.25em;
                }

                @else if $i ==15 {
                    left: 64%;
                    top: 4.5em;
                }

                @else if $i ==16 {
                    left: 34%;
                    top: 4.5em;
                }

                @else if $i ==17 {
                    left: 45%;
                    top: 2.5em;
                }

                @else if $i ==18 {
                    left: 84%;
                    top: 4em;
                    white-space: nowrap;
                }

                @else if $i ==19 {
                    left: 40%;
                    top: 0.5em;
                }

                @else if $i ==20 {
                    left: 52%;
                    top: 3.5em;
                }

                @else if $i ==21 {
                    left: 88%;
                    top: 5em;
                    white-space: nowrap;
                }

                @else if $i ==22 {
                    left: 85%;
                    top: -0.25em;
                    white-space: nowrap;
                }

                @else if $i ==23 {
                    left: 0%;
                    top: 2.25em;
                }

                @else if $i ==24 {
                    left: 2.5%;
                    top: 0.5em;
                }

                @else if $i ==25 {
                    left: 56%;
                    top: 1.75em;
                }

                @else if $i ==26 {
                    left: 25%;
                    top: 3.25em;
                }

                @else if $i ==27 {
                    left: 75%;
                    top: 0.75em;
                }

                @else if $i ==28 {
                    left: 87%;
                    top: 1.5em;
                }

                @else if $i ==29 {
                    left: 72%;
                    top: 6em;
                }

            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .ternary-system {
        bottom: 0vw;
    }

    .text {
        bottom: 240px;
        font-size: 2.3vw;
    }

    .developer {
        bottom: 9.5vw;
    }

    .dev {
        right: 62vw;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1024px) {
    .ternary-system {
        bottom: 0vw;
    }

    .text {
        bottom: 240px;
        font-size: 2.3vw;
    }

    .developer {
        bottom: 9.5vw;
    }

    .dev {
        right: 62vw;
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .ternary-system {
        bottom: 12vw;
    }

    .text {
        bottom: 130px;
        font-size: 2.5vw;
    }

    .developer {
        bottom: 9.5vw;
    }

    .dev {
        right: 50vw;
    }
}

@media only screen and (max-width: 480px) {
    .ternary-system {
        bottom: 25vw;
    }

    .text {
        bottom: 100px;
        font-size: 0.5em;
    }

    .developer {
        bottom: 22px;
    }
}

@media only screen and (max-width: 414px) {
    .ternary-system {
        bottom: 40vw;
        left: 60vw
    }

    .bubble.ternary {
        right: 10vw;
    }

    .bubble.photo {
        left: 45vh;
    }

    .bubble.secondary {
        left: 20vw;
    }

    .bubble.quaternary {
        left: 15vw;
    }

    .text {
        bottom: 75px;
        font-size: 0.5em;
    }

    .developer {
        bottom: 20px;
    }

    .dev {
        top: 7vw;
        right: 25vw;
    }

    .banner {
        &-text {
            &-0 {
                display: none;
            }

            &-1 {
                display: none;
            }

            &-2 {
                display: none;
            }

            &-3 {
                display: none;
            }

            &-5 {
                display: none;
            }

            &-6 {
                display: none;
            }

            &-8 {
                display: none;
            }

            &-10 {
                display: none;
            }

            &-11 {
                display: none;
            }

            &-15 {
                display: none;
            }

            &-16 {
                display: none;
            }

            &-19 {
                display: none;
            }

            &-20 {
                display: none;
            }

            &-23 {
                display: none;
            }

            &-26 {
                display: none;
            }

            &-27 {
                display: none;
            }

            &-28 {
                display: none;
            }
        }
    }
}