@use "../../../../../src/assets/styles/abstracts/variables.scss" as *;

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

.animation {
    overflow: hidden;
}

.banner {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 9rem;
    min-height: 8rem;
    background: $primary;
    color: $violet-4;
    text-align: justify;
    padding: 0.25em;
    font-size: larger;

    &-text {
        &-0 {
            position: absolute;
            left: 32%;
            top: 1.5em;
        }

        &-1 {
            position: absolute;
            left: 60%;
            top: -0.25em;
        }

        &-2 {
            position: absolute;
            left: 18%;
            top: 4.75em;
        }

        &-3 {
            position: absolute;
            left: 48%;
            top: 5.75em;
        }

        &-4 {
            position: absolute;
            left: 0.5%;
            top: 4.5em;
        }

        &-5 {
            position: absolute;
            left: 70%;
            top: 2em;
        }

        &-6 {
            position: absolute;
            left: 50%;
            top: -0.5em;
        }

        &-7 {
            position: absolute;
            left: 15%;
            top: 1em;
        }

        &-8 {
            position: absolute;
            left: 61%;
            top: 5.5em;
        }

        &-9 {
            position: absolute;
            left: 13%;
            top: 3.25em;
        }

        &-10 {
            position: absolute;
            left: 22%;
            top: 6em;
        }

        &-11 {
            position: absolute;
            left: 27%;
            top: 0em;
        }

        &-12 {
            position: absolute;
            left: 90%;
            top: 3em;
            white-space: nowrap;
        }

        &-13 {
            position: absolute;
            left: 4%;
            top: 5.75em;
        }

        &-14 {
            position: absolute;
            left: 10%;
            top: -0.25em;
        }

        &-15 {
            position: absolute;
            left: 64%;
            top: 4.5em;
        }

        &-16 {
            position: absolute;
            left: 34%;
            top: 4.5em;
        }

        &-17 {
            position: absolute;
            left: 45%;
            top: 2.5em;
        }

        &-18 {
            position: absolute;
            left: 84%;
            top: 4em;
        }

        &-19 {
            position: absolute;
            left: 40%;
            top: 0.5em;
        }

        &-20 {
            position: absolute;
            left: 52%;
            top: 3.5em;
        }

        &-21 {
            position: absolute;
            left: 88%;
            top: 5em;
            white-space: nowrap;
        }

        &-22 {
            position: absolute;
            left: 85%;
            top: -0.25em;
            white-space: nowrap;
        }

        &-23 {
            position: absolute;
            left: 0%;
            top: 2.25em;
        }
        &-24 {
            position: absolute;
            left: 2.5%;
            top: 0.5em;
        }

        &-25 {
            position: absolute;
            left: 56%;
            top: 1.75em;
        }

        &-26 {
            position: absolute;
            left: 25%;
            top: 3.25em;
        }

        &-27 {
            position: absolute;
            left: 75%;
            top: 0.75em;
        }

        &-28 {
            position: absolute;
            left: 87%;
            top: 1.5em;
        }

        &-29 {
            position: absolute;
            left: 72%;
            top: 6em;
        }

        &-30 {
            position: absolute;
            left: 28%;
            top: 2em;
        }
    }
}

.ternary-system {
    position: absolute;
    bottom:0;
    left: 82vw;
    transform: translateX(-100%);
}

.bubble {
    position: relative;
    border-radius: 50%;
    background: $violet-4;
}

.bubble.photo {
    position: absolute;
    top: 0.5vw;
    left: 60vh;
    width: 15vw;
    max-width: 15rem;
    height: 15vw;
    max-height: 15rem;
}

.bubble.primary {
    position: absolute;
    top: 15vw;
    left: 6vw;
    width: 1rem;
    height: 1rem;
}

.bubble.secondary {
    position: absolute;
    transform: translateY(40%);
    left: 8vw;
    width: 16vw;
    max-width: 6rem;
    height: 16vw;
    max-height: 6rem;
}

.bubble.ternary {
    margin-top: 4px;
    right: 0;
    transform: translateX(10.8rem);
    width: 50vw;
    max-width: 600px;
    height: 50vw;
    max-height: 600px;
}

.bubble.quaternary {
    position: absolute;
    top: 26vw;
    left: 4vw;
    width: 4rem;
    height: 4rem;
}

.bubble.quinternary {
    position: absolute;
    top: 20vw;
    left: 8vw;
    width: 2rem;
    height: 2rem;
}

.text {
    position: absolute;
    width: auto;
    right: 3.5vw;
    bottom: 290px;
    transform: translateY(50%);
    font-size: 2rem;
}

.title {
    text-align: center;
    font-size: 1em;
    font-family: 'Oswald';
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.3em;
    margin: 0;
    color: $white;
}

.title strong {
    display: block;
    font-weight: 700;
    font-size: 2em;
    line-height: 1em;
}

.title em {
    font-style: normal;
    font-weight: 400;
    font-size: 1.899em;
    line-height: 1em;
    letter-spacing: .29em;
    margin-left: 0.25em;
}

.subtitle {
    position: absolute;
    left: 58%;
    transform: translateX(3.2em);
    font-family: 'Oswald';
    font-size: 0.7em;
    color: $white;
}

.developer {
    position: absolute;
    width: auto;
    right: 5em;
    bottom: 140px;
    transform: translateY(50%);
    font-size: 1em;
    font-family: 'Oswald';
    color: $white;
}

.dev {
    position: absolute;
    right: 45em;
    bottom: 35vh;
    font-size: 20px;
}

.arrow {
    z-index: 1000;
    opacity: 0.5;
    position: absolute;
    left: -5em;
}

.geo-arrow {
    fill: none;
    stroke: $primary;
    stroke-width: 2;
    stroke-miterlimit: 10
}

.draw-in {
    stroke-dasharray: 1000;
    stroke-dashoffset: 10;
    animation: draw 15s ease-in-out alternate infinite;
}

@keyframes draw {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.item-to {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: ease;
}

.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}

.bounce-3 {
    animation-name: bounce-3;
    animation-timing-function: ease;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounce-2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounce-3 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}