<mat-sidenav-container class="app-sidebar" autosize>
    <mat-sidenav #sidenav [mode]="'side'" [opened]="opened">
        <div class="sidebar-header d-flex justify-content-center align-items-center">
            <a class="app-sidebar-title" routerLink="/dashboard" *ngIf="!isExpanded">
                <span>Projetos</span>
            </a>
            <a class="app-sidebar-title" routerLink="/dashboard" *ngIf="isExpanded">
                <span>SA</span>
            </a>
        </div>
        <div class="sidebar-menu-container">
            <mat-nav-list class="sidebar-list">
                <div *ngFor="let menuItem of links">
                    <a mat-nav-list class="sidebar-menu-item" *ngIf="!menuItem.dropdown"
                    [routerLink]="menuItem.path" [routerLinkActive]="'is-active'">
                        <span mat-line *ngIf="!isExpanded" class="sidebar-menu-item-text">
                            {{ menuItem.name }}
                        </span>
                        <mat-icon mat-list-icon inline="true" class="sidebar-menu-item-icon">
                            {{ menuItem.icon || '' }}
                        </mat-icon>
                    </a>
                    <div *ngIf="menuItem.dropdown">
                        <a mat-nav-list class="sidebar-menu-item">                            
                            <span *ngIf="!isExpanded" [routerLink]="menuItem.path"
                            (click)="showSubmenu=true" class="sidebar-menu-item-text" (click)="showSubmenu=true">
                                {{menuItem.dropdown}}
                            </span>
                            <mat-icon mat-list-icon inline="true" class="sidebar-menu-item-icon"
                            (click)="!isExpanded = true; showSubmenu=true" [routerLink]="menuItem.path">
                                {{menuItem.icon || ''}}
                            </mat-icon>
                            <mat-icon *ngIf="!isExpanded" (click)="showSubmenu = !showSubmenu">
                                {{!showSubmenu ? 'expand_more' : 'expand_less'}}
                            </mat-icon>
                        </a>    
                        <div class="sidebar-submenu" [class.expanded]="showSubmenu">
                            <a mat-nav-list class="sidebar-submenu-item" *ngFor="let menuSubItem of menuItem.items"
                                [routerLink]="menuSubItem.path" [routerLinkActive]="'is-active'" #subMenu="routerLinkActive"
                                appLoadComponent="menuSubItem.path">
                                <span mat-line *ngIf="!isExpanded" class="sidebar-submenu-item-text d-flex justify-content-end">
                                    {{menuSubItem.name}}
                                </span>
                                <mat-icon mat-list-icon inline="true" class="sidebar-menu-item-icon">
                                    {{ menuSubItem.icon || '' }}
                                </mat-icon>
                            </a>
                        </div>
                    </div>
                    <mat-divider class="sidebar-divider"></mat-divider>
                </div>
            </mat-nav-list>
            <div class="sidebar-content text-left" *ngIf="!links">
                <ng-content></ng-content>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>
<div mat-sidenav-toggle (click)="toggleCollapse()">
    <a mat-mini-fab class="sidebar-collapse-container">
        <mat-icon inline="true" class="sidebar-collapse-icon">
            {{ collapseIcon }}
        </mat-icon>
    </a>
</div>