@use "../../../../../assets/styles/abstracts/variables.scss" as *;

.app-sidebar {
    max-width: 248px;
    background: $violet-5;
    box-shadow: 4px 2px 4px 0px rgba(0, 0, 0, 0.25);
    float: left;
    min-height: 100%;
    position: relative;
    z-index: 1;
    transition: max-width .1s;

    .collapsed {
        max-width: 64px;
    }

    .sidebar {
        &-header {
            height: 75px;
            background-color: $primary;
            color: $white;
            font-size: 18px;
            font-weight: 700;
        }

        &-divider {
            color: $white;
        }

        &-menu {
            &-item {
                display: flex;
                padding: 15px 0;
                align-items: center;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    box-sizing: border-box;

                    span {
                        color: $violet !important;
                    }

                    .mat-icon:not(.colored) {
                        color: $violet !important;
                    }
                }

                &-text {
                    color: #2d2d2d;
                    font-size: 1em !important;
                    font-style: normal !important;
                    font-weight: 500 !important;
                    line-height: 1;
                    text-align: right;
                    width: 170px;
                }

                &-icon {
                    color: #2d2d2d;
                    line-height: 1;
                    vertical-align: middle;
                    font-size: 24px !important;
                    padding: 0.5rem;
                    padding: 0 15px;
                    display: flex;
                    align-items: center;
                    text-align: right;
                }
            }
        }

        &-submenu {
            background-color: $violet-5;

            &-item {
                display: flex;
                padding: 10px 0;
                justify-content: end;
                align-items: center;
                text-decoration: none;
                cursor: pointer;

                &-text {
                    color: #2d2d2d;
                }

                &-icon {
                    color: #2d2d2d;
                    line-height: 1;
                    vertical-align: middle;
                    font-size: 24px !important;
                    padding: 0.5rem;
                    padding: 0 15px;
                    display: flex;
                    align-items: center;
                    text-align: right;
                }
            }

        }
    }

    &:not(.expandable) {
        .sidebar-menu-container {
            padding-top: 1.75em;
        }
    }

    .is-active {
        border-right: 0.25rem solid $primary;
        box-sizing: border-box;

        span {
            color: $primary !important;
        }

        mat-icon {
            color: $primary !important;
        }

    }
}

.mdc-fab {
    background-color: $dark;
    color: $white;
    font-size: 24px;
    box-shadow: 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    height: 32px;
    margin: 0em 0em 0em -0.75em;
    position: absolute;
    text-align: center;
    top: 3.5rem;
    width: 32px;
    z-index: 10;
}

.mat-icon.mat-icon-inline {
    line-height: 2rem;
}