<div class="d-flex">
    <div class="col-4 p-5 content">
        <img class="content-img" src="../../../../assets/selfie.svg">
        <div>
            <div class="circle primary"></div>
            <div class="circle secondary"></div>
            <div class="circle ternary"></div>
            <div class="circle quaternary"></div>
        </div>
    </div>
    <div class="col-8 p-5 content-text">
        <p>
            Como desenvolvedora Front-end Angular, possuo um conjunto abrangente de habilidades para realizar meu
            trabalho com excelência. Sou movida por curiosidade e dedicada à aprendizagem constante para identificar
            pontos que possam melhorar a qualidade e eficiência da minha codificação. Estou sempre buscando novas
            maneiras de atender às demandas do mercado e construir websites que atendam aos mais altos padrões de
            qualidade.
        </p>
        <p>
            Com a minha habilidade em aprender rapidamente, consigo trabalhar de forma eficiente, enfrentando qualquer
            desafio de desenvolvimento web. Estou sempre disposta a aprender e evoluir ainda mais, buscando me manter
            atualizada com as últimas tendências e tecnologias.
        </p>
        <p>
            Sou apaixonada pelo desenvolvimento web e comprometida em criar soluções que possam levar meus parceiros ao
            sucesso. Com habilidades em HTML, CSS e TypeScript, além de uma sólida compreensão do Git e do
            desenvolvimento ágil com Scrum, estou bem equipada para enfrentar os desafios do desenvolvimento web e
            entregar resultados excepcionais para meus clientes.
        </p>
    </div>
</div>