<div>
    <div>
        <h6>EM CONSTRUÇÃO...</h6>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
            <div *ngIf="listLoading">
                <br><br>
                <mat-spinner color="primary" class="center-block"></mat-spinner>
            </div>
            <div class="table-wrapper">
                <mat-table *ngIf="!listLoading" [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="name">
                        <mat-header-cell fxFlex="50" *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
                        <mat-cell fxFlex="50" *matCellDef="let row">{{row.name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="url">
                        <mat-header-cell fxFlex="35" *matHeaderCellDef mat-sort-header>URL</mat-header-cell>
                        <mat-cell fxFlex="35" *matCellDef="let row"> {{ row.url }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <mat-header-cell fxFlex="15" fxLayoutAlign="center center" *matHeaderCellDef mat-sort-header>
                            <ng-container>
                                Ações
                            </ng-container>
                        </mat-header-cell>
                        <mat-cell fxFlex="15" fxLayoutGap="2px" fxLayoutAlign="center" *matCellDef="let row">
                            <mat-cell>
                                <a class="btn-action" [routerLink]="['/pokemon/'+row.id]" matTooltip="VISUALIZAR"
                                    class="dashboard-icon-anchor">
                                    <mat-icon>visibility</mat-icon>
                                </a>
                            </mat-cell>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div *ngIf="!listLoading && (!dataSource || dataSource && dataSource.filteredData.length === 0)">
                    <p class="text-center">
                        <em>
                            Nenhum item encontrado.
                        </em>
                    </p>
                </div>
            </div>
            <mat-paginator #paginator [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="pageLength"
                [pageSizeOptions]="pageSizeOptions" (page)="setPage($event)" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>