:host {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.app-main {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
}

.app-content {
    margin: 44px 130px 75px 54px;
    flex: 0 1 100%;
    float: left;
    order: 1;
    width: 1px;
    overflow: visible;
    @media (max-width: 1440px) {
        margin-right: 54px;
    }
    > *:not(router-outlet) {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}

.app-footer {
    z-index: 1;
}