<div class="mat-elevation-z8">
    <mat-progress-bar *ngIf="listLoading" mode="indeterminate"></mat-progress-bar>
    <table mat-table matSort [dataSource]="dataSource" matSortActive="defaultOrdering" matSortStart="desc">
        <ng-container *ngFor="let column of columnsData" [matColumnDef]="column.id">
            <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column.id">
                <ng-container *ngIf="getHeaderTemplate(column.id)"
                    [ngTemplateOutlet]="getHeaderTemplate(column.id)"></ng-container>
                <span *ngIf="!getHeaderTemplate(column.id)">{{ column.name }}</span>
            <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="getColumnData(column.id).cellTemplate"
                    [ngTemplateOutlet]="getColumnData(column.id).cellTemplate"
                    [ngTemplateOutletContext]="{ index: row }"></ng-container>
                <span *ngIf="!getColumnData(column.id).cellTemplate">{{ getCellValue(row, column.id) }}</span>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <ng-container *ngIf="!listLoading && (!dataSource || dataSource && dataSource.filteredData.length === 0)">
        <mat-error><strong>Nenhum resultado encontrado.</strong></mat-error>
    </ng-container>
    <mat-paginator #paginator [pageIndex]="(page - 1)" [pageSize]="pageSize" [length]="count"
        [pageSizeOptions]="pageSizeOptions" (page)="pageEvents($event)" showFirstLastButtons *ngIf="paginate">
    </mat-paginator>
</div>