<div class="card">
    <h2 class="card-title d-flex justify-content-center align-items-center">{{ cardTitle }}</h2>
    <div class="card-body" [ngClass]="{'card-expanded': showAll}">
        <ul class="custom-list">
            <li *ngFor="let item of cardData | slice:0:(showAll ? undefined : 3)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="card-icon bi bi-pin-fill" viewBox="0 0 16 16">
                    <path
                        d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354z" />
                </svg>
                {{ item?.name }}
            </li>
        </ul>
    </div>
    <div class="card-btn">
        <a class="card-btn-action d-flex justify-content-center" *ngIf="cardData && cardData.length > 3"
            (click)="showAll = !showAll">
            <span *ngIf="showAll">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-chevron-compact-up svg-icon" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                        d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                </svg>
            </span>
            <span *ngIf="!showAll">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-chevron-compact-down svg-icon" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                        d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                </svg>
            </span>
        </a>
    </div>
</div>