<div class="row align-items-center">
    <div class="col">
        <app-donut-chart></app-donut-chart>
    </div>
    <!-- <div class="col-auto">
        <div class="line"></div>
    </div> -->
    <div class="col py-3">
        <div class="card">
            <h6 class="card-title d-flex justify-content-center align-items-center">BIG win</h6>
            <div class="card-body d-flex justify-content-center align-items-center">lalala</div>
        </div>
        <!-- <div class="day-planner-big-win-title d-flex justify-content-center">
            BIG win
        </div>
        <div class="day-planner-big-win-text d-flex justify-content-center">
            ABC dfdfd
        </div> -->
    </div>
    <div class="col py-3">
        <div class="card">
            <h6 class="card-title d-flex justify-content-center align-items-center">
                3 Prioridades do Dia
            </h6>
            <div class="card-body d-flex justify-content-center align-items-center">
                lalala
            </div>
        </div>
    </div>
    <div class="col py-3">
        <div class="card">
            <h6 class="card-title d-flex justify-content-center align-items-center">
                Hábitos do dia
            </h6>
            <div class="card-body d-flex justify-content-center align-items-center">
                lalala
            </div>
        </div>
    </div>
</div>