<div>
    <div class="row mx-2 my-4">
        <h3 class="week-planner-title"> {{ currentMonth | date: 'LLLL'}} de {{ currentMonth | date: 'YYYY'}}</h3>
        <hr>
    </div>
    <div class="mb-5">
        <div class="d-flex justify-content-center">
            <p>Esse é o progresso da sua semana</p>
        </div>
        <div class="d-flex justify-content-center">
            <app-progress-bar-chart class="w-100"></app-progress-bar-chart>
        </div>
    </div>
    <div>
        <app-calendar-weeks></app-calendar-weeks>
    </div>
    <div>
        Anotações
    </div>
</div>