@use "../../assets/styles/abstracts/variables.scss" as *;

.week-planner {

    &-title {
        text-align: end;
        font-family: 'Rajdhani', sans-serif;
        font-weight: 500;
        font-size: 2em;
        color: $violet;
    }
}